// Charset =====================================================================
@charset "UTF-8";

// Normalize ===================================================================
@import "normalize";
@import "reset";
@import "extensions";
@import "functions";

// Variables ===================================================================
$black: #16161d;
$white: #fff;
$gray: mix($black, $white);
$green: #457343;

$gold: #e8c166;

$mobile: 44em;
$tablet: 44em;
$desktop: 66em;

$large: 1.5rem;
$padding: 1rem;
$padding-small: 0.5em;
$radius: 4px;
$logo-size: 5rem;

// Base Styles =================================================================
body {
	font-family: Merriweather, Georgia, serif;
	font-size: 100%;
	line-height: 1.5;
	background: snow;
	color: $black;
	padding: 1.5em;
	border-top: 0.5em solid $green;
	min-height: 100vh;
}

.wrapper {
	max-width: 30em;
	margin: 1.5em auto;
}

h1 {
	font-size: 1.5em;
	font-weight: 400;
}

h2 {
	font-size: 1.2em;
	margin-top: 1.5em;
	font-weight: 400;
}

address {
	font-style: normal;
}

footer {
	color: $gray;
}
